# APP
diff/
inventory/

# Python & Cache
__pycache__/
*.py[cod]
*$py.class
*cache*/

# Ambientes Virtuais
.env
.venv
env/
venv/
ENV/

# Logs e Dados Temporários
*.log
*.csv
infos*/
scratch/
.agent/

# Configurações de IDE
.vscode/
.idea/
*.swp
*.bak

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Produção / DevOps (Evitar vazamento acidental)
*.cfg
*.key
*.pem
.env
*.log