# Equipment List (Example)
# Format: HOSTNAME;IP;KEY
# Note: IPs below match preferred_management_subnets in settings.json

CORE-RT-01;10.0.1.1;cisco_ios_xr
CORE-RT-02;10.0.1.2;cisco_ios_xr
DIST-SW-01;172.17.2.10;cisco_ios_xe
DIST-SW-02;172.17.2.11;cisco_nxos
UNKNOWN-DEV-01;192.168.100.254;cisco_ios|cisco_ios_xe|cisco_nxos|cisco_ios_xr|datacom_dmos|huawei_vrp